/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* general */
body {
	color: #999999;
}

h1 {
	font-size: 100px;
}

h2 {
	color: #999999;
}

p {
	font-size: 26px;
}


.gray {
	background-color: #999999 !important;
}

.clickable:hover {
	cursor: pointer;
}

/* navbar */

nav ul a {
	font-size: 18px;
}

.navbar {
	background-color: #6d5e98;
	overflow: hidden;
    position: fixed;
    top: 0; 
	width: 100%;
	z-index: 1000;
}

.navbar .active {
	background-color: pink;
}

/* main */
.main {
	margin-top: 90px;
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.circle {
    border-radius: 50%;
}